 /* .owl-prev{
    
    font-size: 22px !important;
    
    background: black !important;
    color: white !important;
    border-radius: 50% !important;
    padding: 17px !important;
   

 } 
 .owl-next{ 
   
    font-size:22px !important;
    background: black !important;
    color: white !important;
    border-radius: 50% !important;
    padding:17px !important;
  
 }  */